<select name="{{ name }}" class="{{ class }} selectize">

    {% for option in options %}

        <option value="{{ option.iso }}" {{ option.selected ? 'selected' }}>{{ option.language }}</option>

    {% endfor %}

</select>